{% extends "base.twig" %}
{% block page_title %}
    Add Credit Card
{% endblock %}
{% block page_description %}
    Billing for 86400.global
{% endblock %}
{% block body %}
    <div class="jumbotron jumbo-contact">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="panel-contact">
                        <h1 class="contact-heading">
                            <small>Add</small><br/>
                            <strong>Credit Card</strong>
                        </h1>
                        <p>Use your favourite payment methods</p>
                        <hr/><br/>
                        <form action="/add-credit-card.php" method="POST">
                            <div class="form-group">
                                <label>Card Number:</label>
                                <input name="credit_card_number" type="number" class="form-control form-control-md" required
                                value="{% if credit_card_number %}{{ credit_card_number }}{% endif %}"/>
                                <p class="form-error">
                                    {% if credit_card_number_error %}
                                        {{ credit_card_number_error }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Expiry Month:</label>
                                <input name="expiry_month" type="tel" class="form-control form-control-md" required
                                value="{% if expiry_month %}{{ expiry_month }}{% endif %}"/>
                                <p class="form-error">
                                    {% if expiry_month_error %}
                                        {{ expiry_month_error }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Expiry Year:</label>
                                <input name="expiry_year" type="number" class="form-control form-control-md" required
                                value="{% if expiry_year %}{{ expiry_year }}{% endif %}"/>
                                <p class="form-error">
                                    {% if expiry_year_error %}
                                        {{ expiry_year_error }}    
                                    {% endif %}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>CCV:</label>
                                <input name="ccv" type="number" class="form-control form-control-md" required
                                value="{% if ccv %}{{ ccv }}{% endif %}"/>
                                <p class="form-error">
                                    {% if ccv %}
                                        {{ ccv_error }}
                                    {% endif %}
                                </p>
                            </div>
                            <input type="submit" class="btn btn-lg btn-yellow w-100" value="Confirm Purchase"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}